{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "react/prefer-es6-class": 1,
    "react/prefer-stateless-function": 0,
    "no-unused-vars": 2,
    "no-console": 1,
    "prettier/prettier": 2
  }
}